.Main-nav {
    display: flex;
    justify-content: space-between;
    background: #ffbb42;
    padding: 20px 0;
    margin: 0 0 20px 0;
}
.Main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 45px 0 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    color: #000;

}
.Logo {
    display: inline-block;
    font-size: 40px;
    margin: 0 0 0 40px;
    font-weight: bold;
}